@import "../../../styles.scss";

.deck-details-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-direction: column;

	.deck-title {
		margin: 0 0 20px;
		font-size: 25px;
		font-weight: 500;
	}

	.deck-form {
		margin-bottom: 15px;

		@media screen and (min-width: 768px) {
			max-width: 500px;
		}

		mat-error {
			color: $dark-red;
			opacity: 90%;
		}
		
		mat-hint, mat-error {
			font-size: 12px;
		}
	}

	.btn {
		align-self: self-end;
		margin: 30px 0 10px;
	}

	.error-notification {
		background-color: $dark-red;
		opacity: 50%;
		color: white;
		border-radius: 13px;
		padding: 10px;
		margin: 10px 0;
	}
}

.form-control:focus{
	box-shadow: none;
}


::ng-deep {
	.view-only {
		.mdc-line-ripple {
			display: none;
		}
	}

	.existing-deck {
		.mat-mdc-form-field-infix {
			font-size: 25px;
			font-weight: 500;
		}	
	}

	.mat-mdc-form-field-subscript-wrapper {
		display: none;
	}
	
	.mat-mdc-form-field {
		padding: 0 !important;
	}
	
	.mat-mdc-text-field-wrapper,
	.mat-mdc-form-field-hint-wrapper,
	.mat-mdc-form-field-error-wrapper {
		padding: 0 0 0 5px !important;
	}
	
	.mat-mdc-form-field-flex {
		margin-top: 25px !important;
		padding-bottom: 6px;
	}
	
	.mat-mdc-floating-label {
		margin-top: 5px !important;
	}
	
	.mdc-line-ripple::before {
		border-bottom-width: 1px !important;
	}
}


// mat-error {
// 	color: $dark-red;
// 	opacity: 90%;
// }

// mat-hint, mat-error {
// 	font-size: 12px;
// }